.my-section {
  margin-top: 48px;
  margin-bottom: 48px;
}

@media (--xl) {
  /*
   * Special margin directive.
   * When showing on largest screens swap margin with maximum width.
   */
  .mx-site,
  .md\:mx-site {
    max-width: var(--site-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}
