.c-menu-container > summary {
  list-style: none;
}

.c-menu-container[open] .c-menu {
  margin-inline: calc(50% - 50vw);
  padding-inline: calc((100vw - var(--container-full)) / 2);
  width: 100vw;

  @media (--lg) {
    margin-inline: revert;
    padding-inline: revert;
    width: revert;
  }
}

.c-menu {
  position: absolute;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh;

  @media (--lg) {
    position: initial;
    height: initial;
  }
}

.c-menu__link {
  font-weight: 700;
  display: block;
  padding-block: 20px;
}

.c-menu .menu-item:where(:active, :focus, :focus-within, :hover) {
  transition: all 150ms 150ms;
  --border-size: 12px;
  color: var(--color-primary);
  background-color: #f5f5f5;
  border-left: var(--border-size) solid var(--color-primary);
  margin-left: calc((100vw - var(--container-full)) / -2);
  padding-left: calc((100vw - var(--container-full)) / 2 - var(--border-size));

  @media (--lg) {
    background-color: transparent;
    padding: 0;
    border: none;
    border-bottom: 4px solid var(--color-primary);
    margin: 0 0 -4px;
  }

}
