@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);
@custom-media --xxl (min-width: 1536px);
@custom-media --dark (prefers-color-scheme: dark);

:root {
  --color-primary: #cc3d87;
  --color-white: #fff;
  --color-black: #000;
  --color-pale: #ededed;
  --color-gray: #656464;
  --color-dark: #3f3f3f;

  --color-text: var(--color-black);
  --color-background: var(--color-dark);
  --color-link: var(--color-primary);
  
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 24px;
  
  --line-height: calc(2.5ex + 4px);
  
  --site-margin: 1.5rem;
  
  --space-md: 1.5rem;
  --space-sm: 0.5rem;
  
  --shadow-large: 0px 1px 16px 0px #00000029;
  --shadow: 0 2px 10px 0 #00000014;

  --container-full: 1040px;
  --container-narrow: 500px;

  @media (--md) {
    --site-margin: 3.5rem;
  }

  @media (--lg) {
    --site-margin: 5rem;
  }
}


