html {
  box-sizing: border-box;
  margin: auto;
  font-family: Lato, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-size: clamp(1.1rem, 1.2vw + 1vh, 1.25rem); */
  text-rendering: optimizeSpeed;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul:not([class]) {
  list-style-type: disc;
  padding-inline-start: 24px;
}

ol:not([class]) {
  list-style-type: decimal;
  padding-inline-start: 24px;
}

summary {
  cursor: pointer;
}

