.heading {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 36px;
  color: var(--color-primary);
}


a {
  color: currentColor;
  cursor: pointer;
}

p:not([class]) {
  font-size: 1rem;
  line-height: 2rem;
}
