.menu {
  border-top: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
}

.menu__link {
  width: auto;
  display: block;
  font-size: var(--font-size);

  @media (--md) {
    width: max-content;
  }
}

.menu > .menu__item:is(.is-active, :focus-within) > .menu__link {
  font-weight: 700;
  box-shadow: inset 0 -3px var(--color-primary);
}

.menu__item[data-type="fullwidth"] {
  max-width: var(--site-max-width);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  padding: 0 16px;

  & .menu__link {
    width: 100%;
  }

  @media (--md) {
    font-size: 12px;
    grid-template-columns: repeat(2, 1fr);

    & .menu__column:not(:nth-child(2n)) {
      border-right: 2px solid var(--color-gray-light);
      padding-right: 16px;
    }
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);

    & .menu__column:not(:nth-child(2n)) {
      border-right: none;
      padding-right: 0;
    }

    & .menu__column:not(:last-of-type) {
      border-right: 2px solid var(--color-gray-light);
      padding-right: 16px;
    }
  }
}

.menu__dropdown {
  z-index: 10;
  min-width: 100px;
  background: var(--color-white);

  @media (--md) {
    box-shadow: 0px 1px 16px 0px #00000014;

    &[data-type="fullwidth"] {
      box-shadow: 0px 5px 16px 0px #00000014;
      width: 100%;
      left: 0px;
    }
  }
}

.no-js .menu__dropdown {
  display: none;
}

.no-js .menu-icon {
display: block
}

.menu > .menu__item:focus-within > .menu__dropdown {
  display: block;
}

.c-navigation-menu__topbar {
  gap: 8px;
  align-items: center;
  border-top: 1px solid var(--color-gray-light);
}

.c-menu-container > summary {
  left: 16px;
  top: 16px;
  list-style: none;
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
}
